@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  transition: 0.5s;
}
li {
  list-style: none;
  font-weight: bold;
}
a:not(.catedra, .seminario) {
  text-decoration: none;
  background-color:#0078d4;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-family: 'Alegreya', serif;
}
a:hover:not(.catedra, .seminario) {
  color: #000;
}
p {
  font-family: 'Alegreya', serif;
}

nav {
  /* background-color: #ff0000; */
  gap: 3px;
}
.sticky {
  position: fixed;
  top: 2px;
  width: 98%;
  z-index: 100;
}

.title-name {
  /* background-color: #000; */
  color: #fff;
  border: solid #000 2px;
  border-radius: 10px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  color: #000;
  /* color: #D4AF37;
  border: solid #d4af37 2px; */
  text-align: center;
  padding: 5px;
  width: 98%;
  margin: auto;
}

.cambioClase {
  display: flex;
  justify-content: space-evenly;
  margin: 7px 0 7px 0;
}
.catedra, .seminario {
  text-decoration: none;
  color: #fff;
  background-color:#c09e04;
  padding: 5px;
  border-radius: 5px;
}

.container {
  width: 98%;
  margin: 5px auto;
  /* box-shadow: 0 0 7px #222; */
}
#navUnidades {
  display: flex;
  justify-content: center;
}

.btn {
  border: none;
  padding: 1em 1.5em;
  /* border: solid #000 2px; */
  color: #fff;
  /* color: #D4AF37;
  border: solid #d4af37 2px; */
  width: 100%;
  background-color: #000;
  font-size: 1em;
  cursor: pointer;
  border-radius: 10px;
}
.btn:focus {
  background-color: #0078d4;
  color: #fff;
}
.content {
  position: relative;
  width: 102%;
}
.content_text {
  position: absolute;
  background-color: #fff;
  border: solid #000 2px;
  padding: 32px;
  width: 98%;
  height: fit-content;
  overflow: auto;
  transform: scale(0);
  transition: 0.3s;

  margin-top: 5px;
  border-radius: 10px;
}
.title {
  margin: 0;
}
.block {
  transform: scale(1);
  z-index: 10;
}

/* .unidad p{
  color: #ff0000;
  font-weight: bold;
} */
.actNum, h4 {
  color: #007;
  font-family: 'Lobster Two', cursive;
  font-size: 20px;
}
.title {
  color: #ff0000;
  font-family: 'Lobster Two', cursive;
  font-size: 28px;
}
.footer {
  background-color: #4682B4;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
}

/*Modo oscuro*/
/* .night-toggle {
  width: 33px;
  height: 33px;
  right: 20px;
  top: 20px;
  position: absolute;
}
.night-toggle:hover {
  cursor: pointer;
}
.moon {
  background-color: transparent;
  box-shadow: -6px 1px 0 3px #275e8e;
  border-left: 3px solid #27476d;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: 7px;
  margin-top: 0px;
  transition: 1s;
}
.sun {
  background-color: #fdd462;
  box-shadow: 2px 0px 0px 1px #d19c29;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  transition: 1s;
}

.break {
  flex-basis: 100%;
  height: 0;
} */

@media (max-width: 450px) {
  #navUnidades {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2px;
  }
  
  .btn {
    padding: 0.5em .75em;
    color: #fff;
    font-size: 14px;

    /* border: solid #000 2px; */
    /* color: #D4AF37;
    border: solid #d4af37 2px; */
  }
}